  ################################
  # Matchers
  ################################

'.source.js, .source.ts':

  'jasmine.objectContaining()':
    prefix: 'oc'
    body:   'jasmine.objectContaining({${1:property}: ${2:value}})'
  'jasmine.stringMatching()':
    prefix: 'sm'
    body:   'jasmine.stringMatching($1)'
  'jasmine.arrayContaining()':
    prefix: 'ac'
    body:   'jasmine.arrayContaining([$1])'
  'jasmine.anything()':
    prefix: 'anyt'
    body:   'jasmine.anything()'
  'jasmine.any()':
    prefix: 'any'
    body:   'jasmine.any($1)'
  'jasmine.any(Object)':
    prefix: 'anyo'
    body:   'jasmine.any(Object)'
  'jasmine.any(Array)':
    prefix: 'anya'
    body:   'jasmine.any(Array)'
  'jasmine.any(String)':
    prefix: 'anys'
    body:   'jasmine.any(String)'
  'jasmine.any(Number)':
    prefix: 'anyn'
    body:   'jasmine.any(Number)'
