################################
# Expectations
################################

'.source.js, .source.ts':

  'expect':
    prefix: 'ex'
    body: 'expect($1)$2'

  'expect to be defined':
    prefix: 'ed'
    body: 'expect(${1:target}).toBeDefined()__sc__$2'
  'expect to be':
    prefix: 'eb'
    body: 'expect(${1:target}).toBe(${2:value})__sc__$3'
  'expect to be falsy':
    prefix: 'ef'
    body:   'expect(${1:target}).toBeFalsy()__sc__$2'
  'expect to be null':
    prefix: 'en'
    body:   'expect(${1:target}).toBeNull()__sc__$2'
  'expect to be truthy':
    prefix: 'et'
    body:   'expect(${1:target}).toBeTruthy()__sc__$2'
  'expect to contain':
    prefix: 'ec'
    body:   'expect(${1:target}).toContain(${2:value})__sc__$3'
  'expect to equal':
    prefix: 'ee'
    body:   'expect(${1:target}).toEqual(${2:value})__sc__$3'
  'expect to match':
    prefix: 'em'
    body:   'expect(${1:target}).toMatch(${2:pattern})__sc__$3'
  'expect to have been called':
    prefix: 'ebc'
    body:   'expect(${1:target}).toHaveBeenCalled()__sc__$2'
  'expect to have been called with':
    prefix: 'ebcw'
    body:   'expect(${1:target}).toHaveBeenCalledWith(${2:value})__sc__$3'
  'expect to have been called times':
    prefix: 'ebct'
    body:   'expect(${1:target}).toHaveBeenCalledTimes(${2:times})__sc__$3'
  'expect to throw error':
    prefix: 'ete'
    body:   'expect(${1:target}).toThrowError(${2:error})__sc__$3'

  'expect not':
    prefix: 'not'
    body:   'expect($1).not.__sc__$2'
  'expect not to be':
    prefix: 'notb'
    body:   'expect($1).not.toBe(${2:value})__sc__$3'
  'expect not to be defined':
    prefix: 'notd'
    body:   'expect($1).not.toBeDefined()__sc__$2'
  'expect not to be falsy':
    prefix: 'notf'
    body:   'expect(${1:target}).not.toBeFalsy()__sc__$2'
  'expect not to be null':
    prefix: 'notn'
    body:   'expect(${1:target}).not.toBeNull()__sc__$2'
  'expect not to be truthy':
    prefix: 'nott'
    body:   'expect(${1:target}).not.toBeTruthy()__sc__$2'
  'expect not to contain':
    prefix: 'notc'
    body:   'expect(${1:target}).not.toContain(${2:value})__sc__$3'
  'expect not to have been called':
    prefix: 'notbc'
    body:   'expect(${1:target}).not.toHaveBeenCalled()__sc__$2'
  'expect not to have been called with':
    prefix: 'notbcw'
    body:   'expect(${1:target}).not.toHaveBeenCalledWith(${2:value})__sc__$3'
