################################
# Spies
###############################

'.source.js, .source.ts':

  'spyOn()':
    prefix: 'spy'
    body:   'spyOn(${1:target}, \'${2:method}\')__sc__$3'
  'spyOn.and.callThrough()':
    prefix: 'spyc'
    body:   'spyOn(${1:target}, \'${2:method}\').and.callThrough()__sc__$3'
  'spyOn.and.returnValue()':
    prefix: 'spyr'
    body:   'spyOn(${1:target}, \'${2:method}\').and.returnValue(${3:value})__sc__$4'
  'spyOn.and.returnValues()':
    prefix: 'spyrs'
    body:   'spyOn(${1:target}, \'${2:method}\').and.returnValues(${3:values})__sc__$4'
  'spyOn.and.callFake()':
    prefix: 'spyf'
    body:   'spyOn(${1:target}, \'${2:method}\').and.callFake(${3:value})__sc__$4'
  'spyOn.and.throwError()':
    prefix: 'spye'
    body:   'spyOn(${1:target}, \'${2:method}\').and.throwError(\'${3:error}\')__sc__$4'
  'jasmine.createSpy()':
    prefix: 'cspy'
    body:   '${1:target} = jasmine.createSpy(\'${1:target}\')__sc__$2'
  'jasmine.createSpyObj()':
    prefix: 'spyo'
    body:   '${1:obj} = jasmine.createSpyObj(\'${1:obj}\', [\'${2:method}\'])__sc__$3'
